page-gr-dashboard {
    
    .positive {
        background-color: #00b894 !important;
    }
    
    .read {
        background-color: #ECF0F1;
    }
    
    .Спорт {
        background-color: indigo;
        color: indigo;
    }
    
    .Світ {
        background-color: aqua;
        color: aqua;
    }
    .Здоров\'я {
        background-color: gold;
        color: gold;
    }
    
    .Технології {
        background-color: fuchsia;
        color: fuchsia;
    }
    
    .Головний.редактор{
        background-color: firebrick;
        color: firebrick; 
    }
    .button.logout{
        height: 25px;
        }
}
