page-reset {
    .back{
        background: rgb(212, 99, 99)
    }
    .centered {
        position: fixed;
        top: 50%;
        left: 48%;
        width: 80%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }
    .header{
      text-align: center;
      color: red;
    }

    .btn{
        //padding-top: 30px;
    }
    .divider{
        height: 10px;
    }
}
