page-home {
    .back{
        background: #D53434
    }
    .centered {
        position: fixed;
        top: 45%;
        left: 47%;
        width: 90%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }
    .header{
      text-align: center;
      color: black;
    }

    .btn{
        //padding-top: 30px;
    }
    .divider{
        height: 10px;
    }

    .card {
        border-radius: 2px;
        display: inline-block;
        margin: 1rem;
    }

    .card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
}
