page-gr-show {
    .color-divider{
        height: 1px;
        width: 100%;
        background: red;
    }
    .divider{
        height: 3px;
        width: 100%;
    }
    .white-spaces{
        white-space: pre-wrap;
    }
}
