page-gr-new-mediaplans {
    .btnShow{
        position: relative;
        background:none;
        border:none;
        margin:0;
        padding:0;
        color: blue;
        font-size: 10px;
      }
    
      .btnOpen{
        background:none;
        border:none;
        margin:0;
        margin-bottom: 6px;
        padding:0;
        color: black;
        font-size: 10px;
      }
      .actions{
        font-size: 10px;
      }
}
